* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins Regular";
  src: url("../../assets/fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins Medium";
  src: url("../../assets/fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins SemiBold";
  src: url("../../assets/fonts/Poppins/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "Poppins Bold";
  src: url("../../assets/fonts/Poppins/Poppins-Bold.ttf");
}
.btn {
  font-family: "Poppins Medium";
  padding: calc((1vw + 1vh) * 0.5) calc((1vw + 1vh) * 1.2);
  font-weight: 500;
  font-size: 1vw;
  color: #fff;
  background: #13AE92;
  border: none;
  z-index: 100;
}

.section1 {
  padding: 1.5vw 15vw 18vw 15vw;
  position: relative;
  background: #002D3A;
  color: white;
  position: relative;
}
.section1 header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: calc((1vw + 1vh) * 6);
}
.section1 header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.section1 header nav a {
  text-decoration: none;
  font-size: 1vw;
  line-height: 160%;
  color: white;
}
.section1 .smart {
  font-weight: 600;
  font-size: 1vw;
  line-height: 140%;
  margin-bottom: 8px;
  color: #13AE92;
}
.section1 h1 {
  font-weight: 700;
  font-size: 4vw;
  line-height: 125%;
  margin-bottom: 20px;
}
.section1 p {
  font-weight: 400;
  font-size: 1vw;
  line-height: 160%;
  margin-bottom: 30px;
  opacity: 0.7;
}
.section1 .soat-1 {
  width: calc((1vw + 1vh) * 11);
  height: calc((1vw + 1vh) * 18);
  position: absolute;
  z-index: 2;
  top: calc((1vw + 1vh) * 6);
  right: calc((1vw + 1vh) * 9);
}
.section1 .liniya-img1 {
  width: calc((1vw + 1vh) * 28);
  height: calc((1vw + 1vh) * 8);
  position: absolute;
  top: calc((1vw + 1vh) * 11);
  right: calc((1vw + 1vh) * 1.5);
  z-index: 1;
}
.section1 .liniya-img2 {
  position: absolute;
  width: 100%;
  background-size: cover;
  bottom: -5px;
  left: 0;
}
.section1 .block-img {
  position: absolute;
  right: calc((1vw + 1vh) * 24);
  bottom: 120px;
  z-index: 2;
}
.section1 .dumaloq-img {
  position: absolute;
  right: calc((1vw + 1vh) * 1);
  bottom: 38px;
}
@media (max-width: 1440px) {
  .section1 .soat-1 {
    width: calc((1vw + 1vh) * 9);
    height: calc((1vw + 1vh) * 15);
  }
  .section1 .liniya-img1 {
    width: calc((1vw + 1vh) * 22);
    height: calc((1vw + 1vh) * 6);
  }
  .section1 .block-img {
    width: calc((1vw + 1vh) * 3.5);
    right: calc((1vw + 1vh) * 18);
  }
  .section1 .dumaloq-img {
    width: calc((1vw + 1vh) * 3.5);
  }
}
@media (max-width: 1024px) {
  .section1 header {
    margin-bottom: 8vw;
  }
  .section1 header img {
    width: calc((1vw + 1vh) * 2);
  }
  .section1 .soat-1 {
    width: calc((1vw + 1vh) * 7);
    height: calc((1vw + 1vh) * 11);
  }
  .section1 .liniya-img1 {
    width: calc((1vw + 1vh) * 19);
    height: calc((1vw + 1vh) * 6);
    right: calc((1vw + 1vh) * 1.5);
  }
}
@media (max-width: 650px) {
  .section1 {
    padding: 1.5vw 12vw 18vw 12vw;
  }
  .section1 header {
    margin-bottom: calc((1vw + 1vh) * 4);
  }
  .section1 .block-img {
    bottom: 50px;
  }
  .section1 .liniya-img1 {
    width: calc((1vw + 1vh) * 21);
    height: calc((1vw + 1vh) * 4);
    top: calc((1vw + 1vh) * 10);
  }
}
@media (max-width: 560px) {
  .section1 .soat-1 {
    width: calc((1vw + 1vh) * 5.5);
    height: calc((1vw + 1vh) * 9);
  }
  .section1 .liniya-img1 {
    width: calc((1vw + 1vh) * 18);
    height: calc((1vw + 1vh) * 4);
    top: calc((1vw + 1vh) * 9);
  }
}
@media (max-width: 460px) {
  .section1 .soat-1 {
    width: calc((1vw + 1vh) * 5.5);
    height: calc((1vw + 1vh) * 8.5);
    right: calc((1vw + 1vh) * 6);
  }
  .section1 p {
    margin-bottom: 5px;
  }
  .section1 .block-img {
    width: calc((1vw + 1vh) * 3);
    bottom: 30px;
    right: calc((1vw + 1vh) * 14);
  }
  .section1 .dumaloq-img {
    width: calc((1vw + 1vh) * 3);
  }
  .section1 .liniya-img1 {
    width: calc((1vw + 1vh) * 19);
    height: calc((1vw + 1vh) * 3);
    right: calc((1vw + 1vh) * 0.6);
    top: calc((1vw + 1vh) * 9);
  }
}

.section2 {
  position: relative;
  padding: calc((1vw + 1vh) * 10) 0 calc((1vw + 1vh) * 12) calc((1vw + 1vh) * 38);
}
.section2 div {
  width: calc((1vw + 1vh) * 10);
  position: relative;
  padding: calc((1vw + 1vh) * 4) calc((1vw + 1vh) * 1) calc((1vw + 1vh) * 1) calc((1vw + 1vh) * 1);
}
.section2 div img {
  position: absolute;
  top: 33px;
  left: 35px;
}
.section2 div h3 {
  font-family: "Poppins Medium";
  font-weight: 500;
  font-size: 1.3vw;
  line-height: 150%;
  color: #000000;
}
.section2 div p {
  font-weight: 400;
  font-size: 0.75vw;
  line-height: 150%;
  color: #000000;
  opacity: 0.7;
  margin: 15px 0 13px 0;
}
.section2 div span {
  display: block;
  font-size: 1vw;
}
.section2 div:first-child {
  position: absolute;
  top: calc((1vw + 1vh) * 4);
  left: calc((1vw + 1vh) * 19);
}
.section2 div:nth-child(2) {
  position: absolute;
  top: calc((1vw + 1vh) * 8);
  left: calc((1vw + 1vh) * 7);
}
.section2 div:nth-child(3) {
  position: absolute;
  top: calc((1vw + 1vh) * 15);
  left: calc((1vw + 1vh) * 19);
}
.section2 h2 {
  font-family: "Poppins SemiBold";
  font-weight: 600;
  font-size: 1.9vw;
  line-height: 140%;
  color: #000000;
  margin-bottom: 15PX;
}
.section2 p {
  font-size: 1vw;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 30px;
}
@media (max-width: 1248px) {
  .section2 {
    padding-left: calc((1vw + 1vh) * 30);
  }
  .section2 div img {
    width: calc((1vw + 1vh) * 2);
  }
  .section2 div:first-child {
    left: calc((1vw + 1vh) * 16);
  }
  .section2 div:nth-child(2) {
    left: calc((1vw + 1vh) * 6);
  }
  .section2 div:nth-child(3) {
    left: calc((1vw + 1vh) * 16);
  }
}
@media (max-width: 950px) {
  .section2 {
    padding-left: calc((1vw + 1vh) * 27);
  }
}
@media (max-width: 800px) {
  .section2 {
    padding-left: calc((1vw + 1vh) * 25);
  }
  .section2 div:first-child {
    left: calc((1vw + 1vh) * 14);
  }
  .section2 div:nth-child(2) {
    left: calc((1vw + 1vh) * 4);
  }
  .section2 div:nth-child(3) {
    left: calc((1vw + 1vh) * 14);
  }
  .section2 p {
    margin-bottom: 20px;
  }
}
@media (max-width: 692px) {
  .section2 {
    padding-left: calc((1vw + 1vh) * 21);
  }
  .section2 div {
    padding-top: calc((1vw + 1vh) * 3) img;
    padding-top-width: calc((1vw + 1vh) * 1.2);
    padding-top-top: 13px;
    padding-top-left: 20px;
  }
  .section2 div:first-child {
    left: calc((1vw + 1vh) * 12);
  }
  .section2 div:nth-child(2) {
    left: calc((1vw + 1vh) * 3);
  }
  .section2 div:nth-child(3) {
    left: calc((1vw + 1vh) * 12);
  }
  .section2 div p {
    margin: 7px 0;
  }
  .section2 p {
    margin-bottom: 10px;
  }
}
@media (max-width: 560px) {
  .section2 {
    padding: calc((1vw + 1vh) * 7) 0 calc((1vw + 1vh) * 8) calc((1vw + 1vh) * 19);
  }
  .section2 div {
    padding-top: calc((1vw + 1vh) * 3.6);
  }
  .section2 div img {
    width: calc((1vw + 1vh) * 1);
    left: 18px;
  }
  .section2 div p {
    margin-top: 2px;
  }
  .section2 div:first-child {
    top: calc((1vw + 1vh) * 2.8);
    left: calc((1vw + 1vh) * 10);
  }
  .section2 div:nth-child(2) {
    top: calc((1vw + 1vh) * 6);
    left: calc((1vw + 1vh) * 3);
  }
  .section2 div:nth-child(3) {
    top: calc((1vw + 1vh) * 10);
    left: calc((1vw + 1vh) * 10);
  }
}
@media (max-width: 450px) {
  .section2 {
    padding-left: calc((1vw + 1vh) * 16);
  }
  .section2 div:first-child {
    left: calc((1vw + 1vh) * 8);
  }
  .section2 div:nth-child(2) {
    left: calc((1vw + 1vh) * 2);
  }
  .section2 div:nth-child(3) {
    left: calc((1vw + 1vh) * 8);
  }
}

.section-3 {
  width: 100%;
  background-image: url(../../assets/icons/section-3-setka.svg);
  padding: calc((1vw + 1vh) * 3) calc((1vw + 1vh) * 11) calc((1vw + 1vh) * 3) calc((1vw + 1vh) * 11);
  background: #002D3A;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-3 .text-center h1 {
  font-size: 2.6vw;
  line-height: 140%;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.section-3 .text-center p {
  font-size: 1vw;
  line-height: 160%;
  color: #FFFFFF;
  opacity: 0.7;
  margin-bottom: 20px;
}
.section-3 .text-center h3 {
  font-size: 0.8vw;
  font-weight: 400;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.7;
  margin-bottom: 30px;
}
.section-3 .text-center span {
  font-weight: 500;
  font-size: 1vw;
}
.section-3 img {
  width: calc((1vw + 1vh) * 12);
}
@media (max-width: 1440px) {
  .section-3 .text-center h1 {
    font-size: 2vw;
  }
  .section-3 img {
    width: calc((1vw + 1vh) * 10);
  }
}
@media (max-width: 1440px) {
  .section-3 .text-center p {
    font-size: 0.9vw;
  }
  .section-3 .text-center h3 {
    margin-bottom: 14px;
  }
  .section-3 img {
    width: calc((1vw + 1vh) * 8);
  }
}
@media (max-width: 768px) {
  .section-3 {
    padding: calc((1vw + 1vh) * 2.5) calc((1vw + 1vh) * 7) calc((1vw + 1vh) * 2.5) calc((1vw + 1vh) * 7);
  }
  .section-3 .text-center h1 {
    font-size: 1.7vw;
    margin-bottom: 10px;
  }
  .section-3 .text-center p {
    margin-bottom: 10px;
  }
  .section-3 .text-center h3 {
    margin-bottom: 14px;
  }
  .section-3 img {
    width: calc((1vw + 1vh) * 6);
  }
}
@media (max-width: 548px) {
  .section-3 {
    padding: calc((1vw + 1vh) * 2.5) calc((1vw + 1vh) * 6) calc((1vw + 1vh) * 2.5) calc((1vw + 1vh) * 6);
  }
  .section-3 .text-center h1 {
    font-size: 1.5vw;
    margin-bottom: 6px;
  }
  .section-3 img {
    width: calc((1vw + 1vh) * 5);
  }
}
@media (max-width: 436px) {
  .section-3 {
    padding: calc((1vw + 1vh) * 2.2) calc((1vw + 1vh) * 5) calc((1vw + 1vh) * 2.2) calc((1vw + 1vh) * 5);
  }
  .section-3 .text-center h3 {
    margin-bottom: 6px;
  }
}
@media (max-width: 380px) {
  .section-3 {
    padding-left: calc((1vw + 1vh) * 4);
  }
}

.section-4 {
  width: 100%;
  padding: calc((1vw + 1vh) * 4) calc((1vw + 1vh) * 12) calc((1vw + 1vh) * 8);
}
.section-4 .heart-rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.section-4 .sleep-monitoring {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 130px;
}
.section-4 .breath {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.section-4 .info h1 {
  font-size: 2vw;
  line-height: 43.4px;
  color: #000000;
  margin-bottom: 20px;
}
.section-4 .info p {
  font-size: 1vw;
  line-height: 160%;
  opacity: 0.7;
  margin-bottom: 35px;
}
.section-4 img {
  width: calc((1vw + 1vh) * 21);
}
.section-4 img.breathing {
  width: calc((1vw + 1vh) * 17);
}
@media (max-width: 1440px) {
  .section-4 img {
    width: calc((1vw + 1vh) * 16);
  }
  .section-4 img.breathing {
    width: calc((1vw + 1vh) * 14);
  }
}
@media (max-width: 1240px) {
  .section-4 {
    padding: calc((1vw + 1vh) * 4) calc((1vw + 1vh) * 11) calc((1vw + 1vh) * 8);
  }
  .section-4 img {
    width: calc((1vw + 1vh) * 14);
  }
  .section-4 img.breathing {
    width: calc((1vw + 1vh) * 12);
  }
  .section-4 .info h1 {
    margin-bottom: 10px;
  }
  .section-4 .info p {
    font-style: 0.9vw;
    margin-bottom: 20px;
  }
}
@media (max-width: 992px) {
  .section-4 {
    padding: calc((1vw + 1vh) * 4) calc((1vw + 1vh) * 10) calc((1vw + 1vh) * 8);
  }
  .section-4 img {
    width: calc((1vw + 1vh) * 12);
  }
  .section-4 img.breathing {
    width: calc((1vw + 1vh) * 10);
  }
  .section-4 .info p {
    margin-bottom: 15px;
  }
}
@media (max-width: 800px) {
  .section-4 {
    padding: calc((1vw + 1vh) * 4) calc((1vw + 1vh) * 8) calc((1vw + 1vh) * 5);
  }
  .section-4 img {
    width: calc((1vw + 1vh) * 11);
  }
  .section-4 img.breathing {
    width: calc((1vw + 1vh) * 9);
  }
  .section-4 .info h1 {
    margin-bottom: 0;
  }
  .section-4 .info p {
    margin-bottom: 10px;
  }
}
@media (max-width: 600px) {
  .section-4 {
    padding: calc((1vw + 1vh) * 4) calc((1vw + 1vh) * 7) calc((1vw + 1vh) * 5);
  }
  .section-4 img {
    width: calc((1vw + 1vh) * 9);
  }
  .section-4 img.breathing {
    width: calc((1vw + 1vh) * 7);
  }
}
@media (max-width: 480px) {
  .section-4 {
    padding: calc((1vw + 1vh) * 4) calc((1vw + 1vh) * 6) calc((1vw + 1vh) * 8);
  }
  .section-4 img {
    width: calc((1vw + 1vh) * 7.5);
  }
  .section-4 img.breathing {
    width: calc((1vw + 1vh) * 6);
  }
}
@media (max-width: 390px) {
  .section-4 {
    padding: calc((1vw + 1vh) * 4) calc((1vw + 1vh) * 5) calc((1vw + 1vh) * 6);
  }
  .section-4 img {
    width: calc((1vw + 1vh) * 7.5);
  }
  .section-4 img.breathing {
    width: calc((1vw + 1vh) * 6);
  }
}

.section-5 {
  width: 100%;
}
.section-5 .div-1 {
  background-color: #a4e7db;
  display: flex;
  padding: calc((1vw + 1vh) * 4) calc((1vw + 1vh) * 12) calc((1vw + 1vh) * 3);
  width: 100%;
  height: 60%;
  position: relative;
}
.section-5 .div-1 .left h1 {
  font-weight: 600;
  font-size: 2vw;
  line-height: 140%;
  color: #000000;
}
.section-5 .div-1 .left p {
  margin: 30px 0 50px 0;
  font-size: 1vw;
  line-height: 160%;
  color: #000000;
}
.section-5 .div-1 .left .div-img img {
  width: calc((1vw + 1vh) * 7);
  padding: 0 30px 0 0;
}
.section-5 .div-1 .right-img {
  width: calc((1vw + 1vh) * 20);
  position: absolute;
  right: 180px;
  bottom: 0;
}
.section-5 footer {
  width: 100%;
  height: 40%;
  background: #012F3C;
  padding: calc((1vw + 1vh) * 2) calc((1vw + 1vh) * 8) calc((1vw + 1vh) * 2) calc((1vw + 1vh) * 8);
}
.section-5 footer .contener-1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-5 footer .contener-1 div:first-child {
  display: flex;
  gap: 40px;
}
.section-5 footer .contener-1 div:first-child h2 {
  font-weight: 500;
  font-size: 1vw;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.4901960784);
}
.section-5 footer .contener-1 .fotcenterimg {
  margin-left: calc((1vw + 1vh) * 5);
}
.section-5 footer .contener-1 div:last-child {
  display: flex;
  gap: 37px;
}
.section-5 footer .center-p {
  font-size: 1vw;
  line-height: 160%;
  text-align: center;
  color: rgba(255, 255, 255, 0.4901960784);
  margin: 30px 0 31px 0;
}
.section-5 .foot {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-5 .foot h3 {
  font-weight: 500;
  font-size: 1vw;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.4901960784);
}
.section-5 .foot hr {
  width: calc((1vw + 1vh) * 29);
  height: 0px;
  margin: 0 5px;
  opacity: 0.1;
  border: 1px solid rgba(255, 255, 255, 0.4901960784);
}
@media (max-width: 1440px) {
  .section-5 .div-1 {
    padding: calc((1vw + 1vh) * 4) calc((1vw + 1vh) * 9) calc((1vw + 1vh) * 3);
  }
  .section-5 .div-1 .right-img {
    width: calc((1vw + 1vh) * 19);
    right: 120px;
  }
  .section-5 footer .contener-1 .fotcenterimg {
    margin-left: calc((1vw + 1vh) * 4);
  }
}
@media (max-width: 1020px) {
  .section-5 .div-1 .left p {
    margin: 15px 0;
  }
  .section-5 .div-1 .left .div-img img {
    width: calc((1vw + 1vh) * 6);
  }
  .section-5 .div-1 .right-img {
    width: calc((1vw + 1vh) * 16);
    right: 100px;
  }
  .section-5 footer {
    padding: calc((1vw + 1vh) * 2) calc((1vw + 1vh) * 8) calc((1vw + 1vh) * 1) calc((1vw + 1vh) * 8);
  }
  .section-5 footer .contener-1 .fotcenterimg {
    width: calc((1vw + 1vh) * 2.5);
    margin-left: calc((1vw + 1vh) * 2);
  }
  .section-5 footer .foot hr {
    width: calc((1vw + 1vh) * 21);
  }
}
@media (max-width: 860px) {
  .section-5 .div-1 {
    padding: calc((1vw + 1vh) * 4) calc((1vw + 1vh) * 7) calc((1vw + 1vh) * 2);
  }
  .section-5 .div-1 .left .div-img img {
    width: calc((1vw + 1vh) * 5);
    padding: 5px;
  }
  .section-5 .div-1 .right-img {
    width: calc((1vw + 1vh) * 13);
  }
  .section-5 footer .contener-1 div:first-child {
    gap: 15px;
  }
  .section-5 footer .contener-1 div:last-child {
    gap: 20px;
  }
  .section-5 footer .contener-1 div:last-child img {
    width: calc((1vw + 1vh) * 0.4);
    height: calc((1vw + 1vh) * 0.6);
  }
  .section-5 footer .contener-1 .fotcenterimg {
    margin-left: calc((1vw + 1vh) * 2);
  }
  .section-5 footer .center-p {
    font-size: 0.8vw;
    margin: 15px;
  }
  .section-5 footer .foot hr {
    width: calc((1vw + 1vh) * 18);
  }
}
@media (max-width: 660px) {
  .section-5 .div-1 {
    padding: calc((1vw + 1vh) * 4) calc((1vw + 1vh) * 6) calc((1vw + 1vh) * 2);
  }
  .section-5 .div-1 .left p {
    margin: 10px 0;
  }
  .section-5 .div-1 .left .div-img img {
    width: calc((1vw + 1vh) * 4);
    padding: 0;
  }
  .section-5 .div-1 .right-img {
    width: calc((1vw + 1vh) * 13);
    right: 50px;
  }
}
@media (max-width: 540px) {
  .section-5 .div-1 {
    padding: calc((1vw + 1vh) * 3) calc((1vw + 1vh) * 6) calc((1vw + 1vh) * 2);
  }
  .section-5 .div-1 .left .div-img img {
    width: calc((1vw + 1vh) * 3);
  }
  .section-5 .div-1 .right-img {
    width: calc((1vw + 1vh) * 10);
  }
  .section-5 footer {
    padding: calc((1vw + 1vh) * 1) calc((1vw + 1vh) * 5) calc((1vw + 1vh) * 1) calc((1vw + 1vh) * 6);
  }
  .section-5 footer .contener-1 div:first-child {
    gap: 8px;
  }
  .section-5 footer .contener-1 div:last-child {
    gap: 10px;
  }
  .section-5 footer .contener-1 div:last-child img {
    width: calc((1vw + 1vh) * 0.4);
    height: calc((1vw + 1vh) * 0.6);
  }
  .section-5 footer .contener-1 .fotcenterimg {
    width: calc((1vw + 1vh) * 1.5);
    margin-left: calc((1vw + 1vh) * 1);
  }
  .section-5 footer .foot hr {
    width: calc((1vw + 1vh) * 14);
  }
}
@media (max-width: 450px) {
  .section-5 .div-1 {
    padding: calc((1vw + 1vh) * 2) calc((1vw + 1vh) * 4) calc((1vw + 1vh) * 1);
  }
  .section-5 .div-1 .left p {
    margin: 5px 0 0;
  }
  .section-5 .div-1 .left .div-img img {
    width: calc((1vw + 1vh) * 2);
  }
  .section-5 .div-1 .right-img {
    width: calc((1vw + 1vh) * 9);
  }
}
@media (max-width: 360px) {
  .section-5 .div-1 .right-img {
    width: calc((1vw + 1vh) * 7);
  }
}

body {
  font-family: "Poppins Regular";
  font-style: normal;
}/*# sourceMappingURL=main.css.map */