* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "./utils/fonts";
@import "./utils/variables";
@import "./sections/section-1";
@import "./sections/section-2";
@import "./sections/section-3";
@import "./sections/section-4";
@import "./sections/section-5";

body {
    font-family: "Poppins Regular";
    font-style: normal;
}