.section2{
    position: relative;
    padding:329px 250px 329px 937px;
    div{
        width: 258px;
        height: 298px;
        padding: 115px 30px 36px 30px;
        img{
            position: absolute;
            top: 33px;
            left: 35px;
        }
        h3{
            font-family: "Poppins Medium";
            font-size: 22px;
            line-height: 150%;
            color: $textcolor;
        }
        p{
            font-size: 12px;
            line-height: 160%;
            color: $textcolor;
            opacity: 0.7;
            margin: 15px 0 13px 0;
        }
    }
    div:first-child{
        position: absolute;
        top: 130px;
        left: 520px;
    }
    div:nth-child(2){
        position: absolute;
        top: 255px;
        left: 229px;
    }
    div:nth-child(3){
        position: absolute;
        top: 460px;
        left: 520px;
    }
    h2{
        font-family:"Poppins SemiBold";
        font-size: 28px;
        line-height: 140%;
        color: $textcolor;
        margin-bottom: 15PX;
    }
    p{
        font-size: 15px;
        line-height: 160%;
        margin-bottom: 30PX;
    }
    button{
        font-family: "Poppins Medium";
        font-size: 16px;
        width: 137px;
        height: 48px;
        padding: 11px 25px;
        background: $mainBlue;
        color: white;
        border: 0;
       }
}