.section1{
    padding: 1.5vw 15vw 18vw 15vw;
    position: relative;
    background: #002D3A;
    color: white;
    header{
        @include daj(flex,space-between,center);    
        margin-bottom: calc($index * 6);
        transition: .3s ease;
        .burger{
            width: 20px;
            height: 20px;
            display: none;
            flex-direction: column;
            gap: 5px;
            position: absolute;
            top: 15px;
            right: 18px;
            z-index: 100;
            .burger__line{
                width: 100%;
                background-color: white;
                border-radius: 15px;
                border: 1px solid white;
            }
        }
        img{
            width: calc($index * 3)
        }
        nav{
            @include daj(flex,space-between,center);  
            gap: calc($index * 2.5);
            a{
                text-decoration: none;
                font-size: 1.2vw;
                line-height: 160%;
                color: white;
            }
        }

    }
    .smart{
        font-weight: 600;
        font-size: 1vw;
        line-height: 140%;
        margin-bottom: 8px;
        color: $mainBlue;
    }
    h1{
        font-weight: 700;
        font-size: 4vw;
        line-height: 125%;
        margin-bottom: 20px;
    }
    p{
        font-weight: 400;
        font-size: 1vw;
        line-height: 160%;
        margin-bottom: 30px;
        opacity: 0.7;
    }
    .soat-1{
         width: calc($index * 10);
         height: calc($index * 17);
         position: absolute;
         z-index: 2;
         top: 20%;
         right: 17%;

    }
    .liniya-img1{
         position: absolute;
         width: calc($index * 28);
         top: 40%;
         right: 5%;
         z-index: 1;
    }
    .liniya-img2{
         position: absolute;
         width: 100%;
         background-size: cover;
         bottom: -5px;
         left: 0;
    }
    .block-img{
        width: calc($index * 5);
        position: absolute;
        right: 50%;
        bottom: calc($index * 5);
        z-index: 2;
    }
    .dumaloq-img{
        width: calc($index * 5);
        position: absolute;
        right: 3%;
        bottom: 5vh;
    }

    @media (max-width:1024px) {
        .soat-1{
            width: calc($index * 10);
            height: calc($index * 15);
        }
        .liniya-img1{
            width: calc($index * 22);
       }
    }
    @media (max-width:600px) {
        padding: 2.5vw 0 15vw 15vw;
        header{
            .burger{
                display: flex;
            }
            nav{
                height: 100vh;
                position: absolute;
                top: 0;
                right: -100%;
                transition: right 0.3s ease-in-out;
                padding: 50px 3vw 0;
                background-color: blue;
                flex-direction: column;
                justify-content: start;
                gap: 25px;
                z-index: 99;
                &.show{
                    right: 0;
                }
            }
        }
        .soat-1{
            width: calc($index * 12);
            height: calc($index * 17);
        }
        .liniya-img1{
            width: calc($index * 24);
        }

    }
//   @media (max-width:560px) {
//     .soat-1{
//         width: calc($index * 8);
//         height: calc($index * 13);
//         right: calc($index * 8);
//     }
//     .liniya-img1{
//         width: calc($index * 18);
//         height: calc($index * 4);
//         top: calc($index * 9);
//    }
//   }
//   @media (max-width:460px) {
//     p{
//         margin-bottom: 5px;
//     }
//     // .block-img{
//     //     width: calc($index * 3);
//     //     bottom: 30px;
//     //     right: calc($index * 14);

//     // }
//     // .dumaloq-img{
//     //     width: calc($index * 3);
//     // }
//     .liniya-img1{
//         width: calc($index * 19);
//         height: calc($index * 3);
//         right: calc($index * .6);
//         top: calc($index * 9);
//    }
//   }
}