.section1{
    padding: 20px 210px 262px 210px;
    position: relative;
    background: #002D3A;
    color: white;
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 110px;
        nav{
            display: flex;
            align-items: center;
            gap: 40px;

            a {
                text-decoration: none;
                font-family: "Poppins Medium";
                font-size: 15px;
                line-height: 160%;
                color: white;
            }
            .btn{
                width: 137px;
                height: 48px;
                padding: 11px 28px;
                background: $mainBlue;

            }
        }
    }
        .smart{
            font-family:"Poppins SemiBold";
            font-size: 13px;
            line-height: 140%;
            margin-bottom: 8px;
            color: $mainBlue;
        }
        h1{
            font-family:"Poppins Bold";
            font-size: 50px;
            line-height: 125%;
            margin-bottom: 20px;
        }
        p{
            font-size: 13px;
            line-height: 160%;
            margin-bottom: 30px;
            opacity: 0.7;
        }
       button{
        font-family: "Poppins Medium";
        font-size: 16px;
        width: 137px;
        z-index: 2;
        position: absolute;
        height: 48px;
        padding: 11px 28px;
        background: $mainBlue;
        color: white;
        border: 0;
       }
       .soat-1{
            width: 260px;
            height: 435px;
           position: absolute;
           z-index: 2;
           top: 160px;
           right: 325px;

       }
       .liniya-img1{
        width: 730px;
        height: 185px;
        position: absolute;
        top: 310px;
        right: 80px;
        z-index: 1;
      
       }
       .liniya-img2{
        position: absolute;
        height: 310px;
        width: 1515px;
        bottom: -5px;
        left: 0;
       }
       .block-img{
           position: absolute;
            right: 707px;
            bottom: 120px;
            z-index: 2;
       }
       .dumaloq-img{
            position: absolute;
            right: 32px;
            bottom: 38px;
       }
    
}