
.section-3 {
    width: 100%;
    height: 572px;
    background-image: url(../../assets/icons/section-3-setka.svg);
    padding: 70px 309px 70px 330px;
    background: #002D3A;
    display: flex;
    align-items: center;
    gap: 500px;
    justify-content: space-around;


    .text-center {
        
        h1 {
            font-size: 31px;
            line-height: 140%;
            color: #FFFFFF;
            margin-bottom: 30px;
        }
        
        p {
            font-size: 16px;
            line-height: 160%;
            color: #FFFFFF;
            opacity: 0.7;
            margin-bottom: 20px;
        }

        h3 {
            font-size: 16px;
            line-height: 150%;
            color: #FFFFFF;
            opacity: 0.7;
            margin-bottom: 30px;
        }

        span {
            font-size: 22px;
        }

        a {
            padding: 11px 28px;
            background: #13AE92;
            text-decoration: none;
            color: #FFFFFF;
        }
    }
}