.section-4 {
    width: 100%;
    padding: 0 269px;
    margin: 85px 0 210px 0;

    .heart-rate{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;
    }

    .sleep-monitoring{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 130px;
    }

    .breathing{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .info{
        h1 {
            font-size: 31px;
            line-height: 43.4px;
            color: $textcolor;
            margin-bottom: 20px;
        }

        p{
            font-size: 16px;
            line-height: 160%;
            opacity: 0.7;
            margin-bottom: 35px;
        }

        button{
            font-size: 16px;
            width: 137px;
            height: 48px;
            padding: 11px 25px;
            background: $mainBlue;
            color: white;
            border: 0;
        }
    }
}